@use '../../styles/colors.scss'as colors;

.bookings {
  &__title {
    padding-block: 2rem;
  }

  &__subtitle {
    color: colors.$color-primary;
    padding-bottom: 1rem;
  }

  &__rooms {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}