@use '../../styles/colors.scss'as colors;
@use '../../styles/fonts.scss'as fonts;

.login {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 7rem;
  max-inline-size: 400px;

  &__content {
    width: 100%;
    padding: 1rem;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.308);
  }

  &__title {
    font-size: fonts.$lg;
  }

  &__button {
    padding: 0.5rem;
    margin-block: 2rem;
    width: 100%;
    text-transform: uppercase;
    background-color: colors.$color-secondary;
    color: colors.$color-shade50;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.308);
    cursor: pointer;

    &:hover {
      box-shadow: none;
      transform: scale(0.98);
      opacity: 0.9;
    }
  }

  &__link {
    color: colors.$color-primary;

    &:hover {
      text-decoration: underline;
    }
  }

  &__footer {
    padding-bottom: 2rem;

    &--link {
      color: colors.$color-primary;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}