  @use '../../styles/colors.scss'as colors;

  .termsfooter {
    padding-top: 1rem;
    background-color: colors.$color-background;

    &__link {
      color: colors.$color-primary;

      &:hover {
        text-decoration: underline;
      }
    }
  }