@use '../../styles/colors.scss'as colors;

.modal {
  &__content--booking {
    background-color: colors.$color-primary-container;
    color: colors.$color-text;
  }

  &__label {
    margin-block: 2rem;
    display: flex;
    gap: 0.5rem;
  }
}