@use '../../styles/colors.scss'as colors;
@use '../../styles/fonts.scss'as fonts;

.register {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-inline-size: 400px;

  &__content {
    margin-block: 2rem;
  }

  &__link {
    color: colors.$color-primary;

    &:hover {
      text-decoration: underline;
    }
  }
}