@use '../../styles/colors.scss'as colors;

.bookingModal {
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: colors.$color-primary-container;

    &--title,
    &--icon {
      color: colors.$color-positive;
    }

    &--button {
      width: 80px;
      margin-top: 2.5rem;
      background-color: colors.$color-positive;
    }
  }
}