@use '../../styles/colors.scss'as colors;

.booking {
  max-width: 800px;
  margin-inline: auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: colors.$color-box-shadow;

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
  }

  &__images {
    background-color: lightcoral;
  }

  &__content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.5rem;
  }

  &__title {
    padding-bottom: 2rem;

    &:before {
      content: '';
      position: absolute;
      top: 40px;
      right: 0;
      width: 90%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.349);
    }
  }

  &__subtitle {
    padding-block: 2rem;

    &:before {
      content: '';
      position: absolute;
      top: 250px;
      right: 0;
      width: 90%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.349);
    }
  }
}