@use '../../styles/colors.scss'as colors;
@use '../../styles/fonts.scss'as fonts;

.card {
  position: relative;

  &__type {
    position: absolute;
    top: 2rem;
    right: 0;
    padding: 0.15rem;
    background-color: colors.$color-primary;
    color: colors.$color-shade50;
  }

  &__name {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  &__price {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    color: colors.$color-primary;
    font-size: fonts.$lg;
    font-weight: bold;

    &--text {
      color: colors.$color-text;
      font-size: fonts.$sm;
      font-weight: normal;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    font-size: 1rem;

    &--link {
      padding: 0.5rem;
      color: colors.$color-shade50;
      box-shadow: 1px 1px colors.$color-primary;
      background-color: colors.$color-secondary;
      border-radius: 4px;

      &:hover {
        opacity: 0.8;
        transform: scale(0.95);
      }
    }

    &--button {
      background-color: transparent;
      border: 0;
      color: colors.$color-secondary;
      font-size: 1rem;
      display: flex;
      align-items: center;
      gap: 0.15rem;
      transition: all 200ms ease;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}