@use '../../styles/colors.scss'as colors;

.modal {
  &__content--home {
    height: 70dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: colors.$color-secondary;
    color: colors.$color-shade50;
  }

  &__images {
    display: flex;
  }
}