$color-background: #fbf8f1;
$color-text: #191e3b;

$color-primary: #1668e3;
$color-primary-container: #c8dff9;

$color-secondary: #191e3b;
$color-secondary-container: #4d5167;

$color-accent: #a1122c;
$color-accent-container: #e61e43;

$color-shade50: #fff;
$color-shade100: #000;

$color-critical: #a7183c;
$color-critical-container: #ee81816c;
$color-positive: #227950;