$font-primary: 'Montserrat',
sans-serif;
$font-secondary: 'Wix Madefor Display',
sans-serif;

$sm: clamp(0.83rem, 0.44vw + 0.72rem, 1rem);
$base: clamp(1rem, 0.53vw + 0.87rem, 1.2rem);
$md: clamp(1.2rem, 0.64vw + 1.04rem, 1.44rem);
$lg: clamp(1.44rem, 0.77vw + 1.25rem, 1.73rem);