@use '../../styles/colors.scss'as colors;
@use '../../styles/fonts.scss'as fonts;

.home {
  &__separator {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 15px;
    font-size: fonts.$md;
    color: colors.$color-shade50;
    background-color: colors.$color-accent-container;

    @media screen and (max-width: 940px) {
      gap: 1.15rem;
      flex-direction: column;
    }
  }

  &__carousel {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 0.5rem;
    overflow-x: scroll;

    &--item {
      min-width: 200px;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 1rem;
      border-radius: 10px;
      font-size: fonts.$sm;
      background-color: colors.$color-accent;
    }

  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  &__title {
    padding-block: 2rem;
    font-size: fonts.$lg;
  }

  &__rooms {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 640px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}