@use '../../../styles/colors.scss'as colors;

.tablefilter {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  &__input {
    height: 30px;
    padding: 0.25rem;
    border-radius: 3px;
    outline-color: colors.$color-primary;
    border: 1px solid colors.$color-secondary;

    &:hover {
      border-color: colors.$color-primary;
    }
  }
}