@use '../../../styles/colors.scss'as colors;

.error {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$color-critical-container;
  color: colors.$color-critical;
}