@use '../../../styles/colors.scss'as colors;

.allUsers {
  &__table {
    margin-top: 2rem;

    &--header,
    &--content {
      display: grid;
      grid-template-columns: 1fr 200px 1fr 200px;
      align-items: center;
    }

    &--header>*,
    &--content>* {
      padding: 0.5rem;
      border: 1px solid colors.$color-text;
    }

    &--header>* {
      border: 1px solid colors.$color-secondary-container;
    }

    &--header {
      background-color: colors.$color-secondary;
      color: colors.$color-shade50;
    }

    &--content {
      background-color: colors.$color-secondary-container;
      color: colors.$color-shade50;
    }
  }
}