@use '../../../styles/colors.scss'as colors;

.tableWrapper {
  overflow-x: scroll;

  .table {
    width: 100%;
    min-width: 1200px;
    border-collapse: collapse;
    border: 2px solid colors.$color-text;

    &__header {
      background-color: colors.$color-secondary;
      color: colors.$color-shade50;
    }

    &__content {
      background-color: colors.$color-shade50;

      &:hover {
        background-color: #5d669915;
      }
    }

    &__header>*,
    &__content>* {
      padding: 0.5rem;
      border: 1px solid colors.$color-text;
    }
  }
}