@use '../../../styles/colors.scss'as colors;

.tableWrapper {
  overflow-x: scroll;

  .table {
    width: 100%;
    min-width: 1200px;
    border-collapse: collapse;
    border: 2px solid colors.$color-text;

    &__header {
      background-color: colors.$color-secondary;
      color: colors.$color-shade50;
    }

    &__content {
      background-color: colors.$color-shade50;

      &:hover {
        background-color: #5d669915;
      }
    }

    &__header>*,
    &__content>* {
      padding: 0.5rem;
      border: 1px solid colors.$color-text;
    }
    
    &__button {
      display: block;
      margin-inline: auto;
      padding: 0.25rem;
      border: 0;
      color: colors.$color-critical;
      background-color: colors.$color-critical-container;
      cursor: pointer;

      &:hover {
        transform: scale(0.98);
        opacity: 0.8;
      }
    }
  }
}