@use '../../styles/colors.scss'as colors;
@use '../../styles/fonts.scss'as fonts;

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: colors.$color-shade50;
  box-shadow: colors.$color-box-shadow-lg;

  &--dark {
    background-color: colors.$color-secondary;
  }

  &__nav {
    height: 60px;
    font-size: fonts.$base;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    &--dark {
      color: colors.$color-shade50;
    }
  }

  &__menu {
    font-size: fonts.$base;
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;

    &--dark {
      color: colors.$color-shade50;
    }
  }

  &__dropdown {
    min-width: 200px;
    position: absolute;
    top: 4.75rem;
    right: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 0.75rem;
    background-color: colors.$color-shade50;
    box-shadow: colors.$color-box-shadow-lg;
    border-radius: 5px;
    z-index: 50;

    &--hidden {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      top: -15px;
      right: 30px;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid colors.$color-shade50;
    }
  }

  &__link {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
    background-color: colors.$color-background;

    &:hover {
      color: colors.$color-accent-container;
      text-decoration: underline;
    }
  }

  &__logout {
    width: 100%;
    padding: 0.5rem;
    background-color: colors.$color-background;
    border: 0;
    font-family: fonts.$font-secondary;
    font-size: fonts.$base;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
    cursor: pointer;

    &:hover {
      color: colors.$color-accent-container;
      text-decoration: underline;
    }
  }
}