 @use '../../../styles/colors.scss'as colors;

 .tableOrdering {
   display: flex;
   gap: 0.5rem;
   cursor: pointer;

   &__options {
     padding: 0.25rem;
     border-radius: 3px;
     background-color: colors.$color-shade50;
     outline-color: colors.$color-primary;
     border-color: colors.$color-secondary;
   }
 }