@use '../../styles/colors.scss'as colors;

.profileCard {
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid colors.$color-primary;

  &__div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    line-height: 2rem;

    @media screen and (max-width: 550px) {
      grid-template-columns: 1fr;
    }
  }
}