* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Wix Madefor Display', sans-serif;

  --font-size-sm: clamp(0.83rem, 0.44vw + 0.72rem, 1rem);
  --font-size-base: clamp(1rem, 0.53vw + 0.87rem, 1.2rem);
  --font-size-md: clamp(1.2rem, 0.64vw + 1.04rem, 1.44rem);
  --font-size-lg: clamp(1.44rem, 0.77vw + 1.25rem, 1.73rem);

  --color-background: #fbf8f1;
  --color-text: #191e3b;

  --color-primary: #1668e3;
  --color-primary-container: #c8dff9;

  --color-secondary: #191e3b;
  --color-secondary-container: #4d5167;

  --color-accent-container: #e61e43;
  --color-accent: #a1122c;

  --color-shade50: #fff;
  --color-shade100: #000;

  --color-critical: #a7183c;
  --color-positive: #227950;
}

html,
body {
  width: 100%;
  font-family: var(--font-secondary);
  background-color: var(--color-background);
  color: var(--color-text);
  scroll-behavior: smooth;
}

h1,
img,
label,
button {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

img {
  max-width: 100%;
}

.container {
  max-width: 1366px;
  padding-inline: 1rem;
  margin-inline: auto;
}