@use '../../../styles/colors.scss'as colors;

.homeheader {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;

  &__search {
    height: 40px;
    flex-grow: 1;
    background-color: colors.$color-shade50;
    border: 2px solid colors.$color-secondary;
    border-radius: 5px;
    outline: none;

    &:focus {
      border-color: colors.$color-primary;
    }

    &--name {
      padding: 0.25rem;
    }
  }
}